<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<!--아래 url이 등록이 안되있기 때문에 뜬 빨간 줄-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--  Appenders  -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n"/>
        </layout>
    </appender>

    <!--  Application Loggers  -->
    <logger name="org.scoula">
<!--        log 레벨을 warning 이상만 보겠다-->
<!--        아무리 새로 고침을 해도 log가 아무것도 나오지 않음-->
<!--        favicon: brower tab에 나오는 아이콘. 표준에 파일명이 정해져 있음-->
        <level value="info"/>
    </logger>

    <!--  3rdparty Loggers  -->
<!--    info를 debug로 바꿨을 때-->
<!--    spring이 뭐를 싱글톤으로 만들었다 -->
    <logger name="org.springframework.core">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="info"/>
    </logger>


    <logger name="jdbc.audit">
        <level value="warn" />
    </logger>
    <logger name="jdbc.resultset">
        <level value="warn" />
    </logger>
    <logger name="jdbc.connection">
        <level value="warn" />
    </logger>
    <logger name="jdbc.sqlonly">
        <level value="info" />
    </logger>


    <!--  Root Logger  -->
    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>